*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.portfolio-card{
    width: 980px;
    height: 600px;
    background: rgb(248, 246, 246);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px 1px;
    margin-top: 0px;
}
.portfolio-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    color: rgb(51, 49, 45);
}
.portfolio-card img{
    width: 880px;
    border-radius: 20px;
    box-shadow: 0 0 0.5px 0.5px;
    
}